<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/index.css" rel="stylesheet">
<link href="/css/boardList.css" rel="stylesheet">
</head>
<body>
	<div th:replace="~{/fragments/header.html :: fragment-menu}"></div>
	<h2 align="center">게 시 판</h2>
	
	<div class="outer">
		<div th:text="|총 게시글 수 : ${boardPage.totalElements}|"></div>
		<table id="list-area" align="center">
			<thead>
				<tr>
					<th width="10%">글번호</th>
					<th width="47%">제목</th>
					<th width="15%">작성자</th>
					<th width="10%">조회수</th>
					<th width="15%">작성일</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="board, state: ${boardPage}">
					<td>[[${board.bno}]]</td>
					<td id="ellip"><a th:href="@{detailForm(bno=${board.bno})}">[[${board.title}]]</a></td>
					<td>[[${board.writer}]]</td>
					<td>[[${board.count}]]</td>
					<td th:text="*{#temporals.format(board.createDate, 'yyyy-MM-dd')}"></td>
				</tr>
			</tbody>
		</table>
		<!-- 페이지 처리 -->
		<div align="center">
			<a th:if="${boardPage.number > 0}" th:href="@{list(nowPage=${boardPage.number-1})}">Prev...</a>
			<span th:each="pageNumber : ${#numbers.sequence(boardPage.number, boardPage.totalPages-1)}">
        		<strong th:if="${pageNumber == boardPage.number}" th:text="|[${pageNumber+1}]|"></strong>
        		<a th:unless="${pageNumber == boardPage.number}" th:href="@{list(nowPage=${pageNumber})}" th:text="|[${pageNumber+1}]|"></a>
        	</span>
        	<a th:if="${boardPage.number < boardPage.totalPages-1}" th:href="@{list(nowPage=${boardPage.number+1})}">...Next</a>
		</div>
		
		<!-- 글쓰기 -->
		<div th:if="${loginUser != null}" align="right">
			<a href="insertForm">새글등록</a>
		</div>
	</div>
</body>
</html>